body{
	background: #FFFFFF;
	color: #403529;
}
/*h2 headers*/
h2{
	color: #7D8A2E;
	font-family: 'Gloria Hallelujah', cursive;
}
/*sub headers*/
h3, h4{
	color: #FF8598;
	font-family: 'Gloria Hallelujah', cursive;
}
/*primary buttons*/
.btn-primary{
	background: #7D8A2E;
	border: #7D8A2E;
}
/*primary buttons:hover*/
.btn-primary:hover{
	background: #FF8598;
	border: #FF8598;
}
a:hover{
	text-decoration: none;
	cursor: pointer;
}

/******************INDEX.HTML*************************/
/*row1*/
#row1{
	clear: both;
}
/**main article headers*/
#mainHome h2{
	margin-bottom: 30px;
	font-size: 3em;	
}
/**main article headers*/
#mainHome h3{
	margin: 60px 0 30px 0;
}
/**main article paragraphs*/
#mainHome p{
	margin-bottom: 30px;
}
/*cta button*/
#ctaBtn{
	width: 100%;
	font-size: 1.5em;
}
/*intro at bottom of slideshow*/
.slideIntro{
	color: #FF8598;
	font-size: 1.5em;
}
/* 3 cupcake image*/
#Canvas1{
	margin-top: 30px;
}
/*gallery images*/
#galleryIndex img{
 height: 325px;
 margin-bottom: 15px;
}
/*gallery title*/
#galleryIndex h2{
	margin-bottom: 30px;
	font-size: 3em;
}
/*pagiantions*/
.pagination{
	float:right;
}
/*text in pagination*/
.pagination>li>a{
	color: #7D8A2E;
}
/*section with accordion tabs*/
#accTab{
	margin-top: 60px;
}
/*images in acc tabs*/
.accIcons{

}
/*tab headers*/
.panel-heading{
	
}
/*hover over acc tab headers*/
.panel-heading:hover{
	background: #FFC0A9;
}
/*acc tab first header*/
#headingOne{
	background: #C9D787;
}
/*hover*/
#headingOne:hover{
	background: #FFC0A9;
}
/*acc tab header a link*/
#headingOne a{
	color: #FFF;
	font-size: 1.5em;
}
/*acc tab second header*/
#headingTwo{
	background: #FF8598;
}
/*hover*/
#headingTwo:hover{
	background: #FFC0A9;
}
/*acc tab header a link*/
#headingTwo a{
	color: #FFF;
	font-size: 1.5em;
}
/*acc tab third header*/
#headingThree{
	background: #7D8A2E;
}
/*hover*/
#headingThree:hover{
	background: #FFC0A9;
}
/*acc tab third a link*/
#headingThree a{
	color: #FFF;
	font-size: 1.5em;
}
/*footer canvas with cupcakes*/
#Canvas2{
	padding-top: 30px;
}
/*footer*/
footer{
	clear: both;
	margin: 100px 0 60px 0;
	border-top: 1px solid #7D8A2E;
}
/*nav li boxes in bottom nav*/
footer .nav-pills li a{
	background: #7D8A2E;
	color: #fff;
}
/*nav li boxes in bottom nav active*/
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #FF8598;
}
/*hover over nav pills*/
.nav-pills>li:hover>a{
	background: #FF8598;
}


/***************************************ABOUT.HTML****************************/
/*main section*/
#mainAbout{
	margin-top: 60px;
}
/*main section title*/
#mainAbout h2{
	margin-bottom: 30px;
}
/*main section p*/
#mainAbout p{
	font-size: 1.2em;
}
/*main Image*/
#aboutImg{
	width: 100%
}
/****MAP***/
#mapBox{
	margin-top: 100px;
}
/*section with map*/
.map_container{
	background: url(../img/map.jpg) no-repeat 0px 0px;
	height: 300px;
	width:300px;/*exact width and height of actual map.jpg*/
	position: relative;
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 20px;
	border: 1px solid #7D8A2E;
}
/*this is the dot png*/
.map_container a.dot{
	background: url(../img/dots.png) no-repeat 0px 0px;
	height: 20px;
	width:20px;
	display: block;
	cursor: pointer;
	position: absolute;

}
/*hover over dots*/
.map_container a.dot:hover{
	background-position: 0px -20px;
}
/*selected section on dot png*/
.map_container a.dot.selected{
	background-position: 0px -40px;
}
/*this will position the form bar within the map image*/
.map_container .form_continent{
	position: absolute;
	bottom:0;
	left:0;
}
/*hides html for descriptions until needed*/
.city_detail_container{
	display: none;
}
/*footer for about page*/
#aboutFooter{
	border: none;
	padding-top: 100px;
}

/*****************************SPECIAL.HTML**********************************************************/
/*main section*/
#mainSpec{
	margin-top: 60px;
}
/*main title,p and button*/
.mainS{
	margin-bottom: 40px;
}
/*main title,p and button*/
p.mainS{
	font-size: 1.2em;
}
.customBtn{
	width: 100%;
	font-size: 1.2em;
	padding: 20px;
}

/**********************************EVERYDAY.HTML******************************************************************/
/*main p,title and button*/
.mainE{
	margin-bottom: 50px;
}
p.mainE{
	font-size: 1.2em;
}








